/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#show-markers,
#hide-markers, 
#delete-markers,
#delete-selected-marker {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px; /* Додаємо відступ для тексту всередині кнопок */
  cursor: pointer; /* Курсор руки, щоб показати, що кнопка клікабельна */
  background-color: white; /* Базовий колір фону */
  transition: background-color 0.3s, color 0.3s; /* Плавна зміна кольорів при наведенні */
}

#show-markers:hover,
#hide-markers:hover, 
#delete-markers:hover {
  background-color: #010101; /* Світлий сірий колір фону при наведенні */
  color: white; /* Зміна кольору тексту, якщо потрібно */
}

#floating-panel {
  position: absolute;
  top: 30px;
  left: 10%;
  z-index: 5;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease; /* Додаємо плавну транзицію для transform */
}

#floating-panel:hover {
  transform: scale(1.1); /* Збільшуємо елемент на 10% при наведенні */
}

